<div class="container" class="input-group mb-3">
  <!-- Content here -->
  <p>Ask your coach anything:</p>

  <form action="answer" data-turbo="false">
    <div class="input-group mb-3">
      <input type="text" name="question" class="form-control" placeholder="Ask">
    </div>
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit" value="Ask!">Submit</button>
    </div>
  </form>
</div>
